:root {
  --line-spacing: 0.5em;
}
main {
  /* min-height: 100vh; */
}
h1 {
  font-size: 2em;
}
hr {
  border-top: 1px solid #ddd;
  /* margin: 1rem 0; */
}
.posted-on {
  text-align: right;
  text-transform: lowercase;
}
.last-updated-on {
  /* margin: 0em 0 1em; */
  text-align: right;
  text-transform: lowercase;
}
ul {
  list-style-type: square;
  margin: 0%;
}
