:root {
  --line-spacing: 0.5em;
}
main {
  min-height: 100vh;
}
hr {
  border-top: 1px solid #ddd;
}
ul {
  list-style-type: square;
  margin: 0%;
}
ul ul {
  list-style-type: circle;
}
h1 {
  font-size: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6,
li {
  text-transform: lowercase;
}
.posted-on {
  text-align: right;
  text-transform: lowercase;
}
.last-updated-on {
  text-align: right;
  text-transform: lowercase;
}
