---
import Layout from "@layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@data/consts";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>hi there 🌱</h1>
  <p>I am an engineer</p>
</Layout>
