---
import Layout from "@layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@data/consts";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h2>hi there 🌱</h2>
  <p>
    I care deeply, <b>I help solve stuff</b>
  </p>
</Layout>
