---
import { COPYRIGHT, FOOTER_LINKS } from "@data/consts";
---

<footer>
  {
    FOOTER_LINKS.map((line) => (
      <div>
        {line.words}
        <a href={line.href} target="_blank">
          {line.link}
        </a>
      </div>
    ))
  }
  <div class="copyright-notice">
    &copy; 2023
    {COPYRIGHT}. All rights reserved.
  </div>
</footer>
<style>
  footer {
    text-align: left;
  }
  .copyright-notice {
    margin: 1em 0;
  }
</style>
