---
import { COPYRIGHT, FOOTER_LINKS } from "@data/consts";
---

<footer>
  {
    FOOTER_LINKS.map((link) => (
      <div class="footer-links">
        link{" "}
        <a href={link.href} target="_blank">
          {link.name}
        </a>
      </div>
    ))
  }
  <div class="copyright-notice">
    copyright 2022
    {COPYRIGHT}
  </div>
</footer>
<style>
  footer {
    text-align: left;
  }
  .copyright-notice {
    margin: var(--line-spacing) 0;
  }
  .footer-links {
    margin: var(--line-spacing) 0;
  }
</style>
