---
import HeaderLink from "@components/HeaderLink.astro";
import { SITE_TITLE } from "@data/consts";
import { getCollection } from "astro:content";

// alphabetical order
const posts = (await getCollection("en")).sort((a, b) =>
  a.data.title.localeCompare(b.data.title)
);
---

<header>
  <div class="split">
    <HeaderLink href="/" class="logo">{SITE_TITLE}'s site</HeaderLink>
    <code>/</code>
  </div>
  <nav>
    {
      posts.map((post) => (
        <HeaderLink href={`/en/${post.slug}/`}>{post.data.title}</HeaderLink>
      ))
    }
    <HeaderLink href="/blog/">Blog</HeaderLink>
  </nav>
</header>
<style>
  header {
  }
  nav {
  }
  nav a {
    margin: var(--line-spacing) 0;
  }
  .split {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
  }
</style>
